
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainWindow</title>
</head>
<body>
</body>
</html>





@*
    两者的代码相差还挺大的，需要再学习一下core的代码核心    


*@